body {
    font-size: 100%;
    font-family: Verdana;
    background-color: #DCDCDC;
	color: #000000;
	margin: 10px;
}

table {
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

#sms_logout {
	position: absolute;
	top: 50px;
	right: 50px;
	visibility: hidden;
	font-size: 1.2em;
}
#sms_errorText {
	color: #FF0000;
	font-weight: bold;
}
#sms_getnew {
	visibility: hidden;
	position: absolute;
	left: 100px;
	top: 100px;
}
#sms_messageform {
	visibility: hidden;
	position: absolute;
	left: 100px;
	top: 150px;
}
#sms_messageList {
	visibility: hidden;
	position: absolute;
	left: 100px;
	top: 200px;
}
