html {
    min-height: 200px;
    min-width: 250px;
    height: 100%;
    margin:0;
    padding:0;
    overflow-y:auto!important;
    overflow-x:auto!important;
}

#header {
    font-size:40px;
    text-align:center;
    line-height:50px;
    height:50px;
    width:100%;
    background-color:#191919;
    color:#e9e9e9;
}

body {
    height:100%;
    width:100%;
    min-width: 250px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight:500;
    font-size:larger;
    color: #303030;
    min-height:350px;
    overflow-y:auto!important;
    overflow-x:auto!important;
}

#content {
    width: 100%;
    min-height: 250px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.title{
    display: inline-block;
}

.selectItem {
    height:30px;
    line-height:30px;
    border-bottom:1px solid #808080;
    padding: 0px 10px;
    font-size:20px;
    font-weight:600;
    /* flexbox setup */
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;
}

.selectItem:hover {
    background-color:#e2e2e2;
}

.selectItem:active {
    background-color:#191919;
    color:#e9e9e9;
}

.blogContainer {
    position:relative;
}

.textItem {
    padding: 10px 10px;
    border-bottom:1px solid #808080;
}

.authorItem {
    background-color:#444;
    color:#e9e9e9;
    font-weight:600;
    padding:2px 10px;
    line-height:20px;
    position:relative;
}

.dateItem {
     color:#e9e9e9;
     text-align:right;
     font-size:small;
     display:inline-block;
     position:absolute;
     right:10px;
     line-height:20px;
}

.refreshMessages {
    font-size:45px;
    float:right;
    margin-right: 12px;
    height:50px;
}

.refreshMessages:hover {
    color:#ccc;
}

.refreshMessages:active {
    color:#afa;
}

#content input[type=text], textarea {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

#content span {
    margin-left:5px;
}

.multilineText {
    height:150px;
    padding-top:5px;
    padding-bottom:5px;
}

.multilineText:active {
    background-color:#e2e2e2;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #aaa;
}

#agent {
    width: 15%;
}

#text {
    width: 50%;
}
